# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Udacity_Java_Entwikler\SpringbootFirstProject\nd035-c1-spring-boot-basics-project-starter-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
